<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h3 class="mb-0">プロフィール</h3>
  </div>
  <!-- Card body -->
  <div class="card-body">
    <%= form_with model: @user, url: mypage_profile_path do |f|  %>
      <div class="d-lg-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center mb-4 mb-lg-0">
          <%= image_tag @user.decorate.avatar, class: 'avatar-xl rounded-circle' %>
        </div>
      </div>
    <% end %>
    <hr class="my-5">
    <div class="mb-3">
      <p class='form-label'>ユーザー名:  <%= @user.name %></p>
    </div>
    <div class="mb-3">
      <p class='form-label'>性別:  <%= @user.gender_i18n %></p>
    </div>
  </div>
</div>
